@import "@style/index.sass";

@mixin common() {
    float: left;
    margin-left: 10rpx;
}

.userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40rpx;
}

.userinfo-avatar {
  width: 128rpx;
  height: 128rpx;
  margin: 20rpx;
  border-radius: 50%;
}

.userinfo-nickname {
  color: #395DB5;
  font-size: 30rpx;
}

.teacher_container {
    padding: 20rpx;
}
.teacher_container_item {
    padding-top: 10rpx;
    margin-bottom: 10rpx;
    overflow: hidden;
    font-size: 28rpx;
}
.teacher_container_detail {
    padding-top: 10rpx;
    margin-bottom: 10rpx;
    overflow: hidden;
    font-size: 28rpx;
}
.sign_qrcode {
    width: 300rpx;
    height: 300rpx;
    margin: 0 auto;
    display: block;
}