@import '@style/index.sass';

.index {
    width: 100%;
    height: 100%;    
}
.test {
    color: red;
}
.swiper-img {
    width: 100%;
    height: 100%;    
}
.select_container {
    height: 100rpx;
    width: 100%;
    background-color: #fafafa;     
}
.picker_self {
    float: left;
    width: 100%;
    height: 100rpx;      
}
.picker {
    line-height: 100rpx;
    text-indent: 40rpx;
}
.picker_icon {
    width: 60rpx;
    height: 60rpx;   
    float: right;
    margin-right: 40rpx;
    margin-top: 20rpx;
}
.picker_value {
    color: $maincolor;
}
.page-section {
    position: relative;
}
.category-container {
    position: absolute;
    width: 60%;
    background-color: $maincolor;
    z-index: 2;
    color: #fff;
    left: 22rpx;
    border-radius: 20rpx;
    text-indent: 10rpx;
}
.category-item {
    border-bottom: 1px solid #fff;
}
